@import './../Variables';

.skills-riel {
    max-width: 1850px;
    width: 100vw;
    height: 20rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.skills-riel__title {
    padding-left: 5vw;
    width: 100%;
    height: 4rem;
    text-align: left;
    font-size: $size-large;
    color: $color-soft;
}
.riel {
    display: flex;
    width: 100%;
    height: 13rem;
    align-items: center;
    margin: 0 2rem;
    position: relative;
    overflow: hidden;
}
.skills-riel__component {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: absolute; 
    width: 300%;
    min-width: 200%;
    animation: riel 30s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}
.skills-riel__component--img {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    min-width: 6rem;
    height: 8rem;
    margin: 0 2rem;
    
    h5 {
        width: auto;
        color: $color-soft;
        font-size: $size-medium;
        font-weight: $font-light;
        padding: 0 0.3rem;
        border-bottom: 2px solid $color-second;
    }

    img {
        width: 4rem;
        height: auto;
    }
    &:first-child {
        margin-left: 90vw;
    }

}
.img-bigger {
    min-width: 10rem;
    width: auto;
    
    img {
        width: auto;
        height: 3rem;
    }
}
@keyframes riel {
    0% { left: 0; }
    100% { left: -300%; }
}