@import './../Variables';

.projects {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
    height: auto;
}
.projects__title {
    position: absolute;
    top: -1.2rem;
    left: 5vw;
    h2 {
        font-weight: $font-bold;
        font-size: $size-extreme;
        line-height: 136.19%;
        text-align: center;
        color: $color-strong; 
        letter-spacing: 0.02em;
        z-index: -10;
    }
}
.projects__components {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    min-height: 90%;
    height: auto;
    width: 100%;
    background-color: $color-soft;
}