@import './../Variables';

.skills-riel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
    width: auto;
    height: auto;
    margin: 1rem 0;
}
.skills-riel__title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20rem;
    width: 22.9375rem;
    height: 4rem;
    
    font-size: $size-xlarge;
    text-align: left;
    color: $color-soft;
    text-align: center;
    line-height: 28px;
    
}
#frontend, #backend {
    letter-spacing: 1em;
    padding-left: 1em;
}
#complementary {
    letter-spacing: 0.15em;
}

.skills-riel__component {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    min-width: 20rem;
    width: 22.9375rem;
    min-height: 10.6875rem;
    height: 10.6875rem;
}

.skills-riel__component--img {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    min-width: 5rem;
    width: 5.3125rem;
    min-height: 5rem;
    height: 5.3125rem;
    
    h5 {
        width: auto;
        color: $color-soft;
        font-size: $size-small;
        font-weight: $font-light;
        padding: 0 0.3rem;
        margin: 0;
    }
}
.component--img {
    width: 2.625rem;
    height: auto;
}
.shrink {
    width: 1.85rem;
    height: 2.625rem;
}
.large {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    min-width: 5rem * 2;
    width: 5.3125rem * 2;
    min-height: 5rem;
    height: 5.3125rem;
    text-align: center;
    h5 {
        width: 50%;
    }
}
//html
#html {
    background-color: #e34f2638;
}
#css {
    background-color: #0096dc2d;
}
#sass {
    background-color: #bf458231;
    img {
        margin-top: 0.5rem;
    }
}
#bootstrap {
    background-color: #510a8f3d;
}
#js {
    background-color: #f7de1e36;
}
#react {
    background-color: #53c0de3f;
}
#flux {
    background-color: #42424241;
    img {
        margin-top: 0.8rem;
    }
}
#webpack {
    background-color: #1c79c03f;
}
//Backend
#python {
    background-color: #d1b4313a;
}
#flask {
    background-color: #44b74a3f;
}
#sql {
    background-color: #2c7cb23d;
    img {

        margin-top: 1rem ;
    }
}
#alchemy {
    background-color: #42424241;
    img {
        width: auto;
        height: 15px;
        margin-top: 1rem ;
    }
    h5 {
        text-align: center;
    }
}
#npm {
    background-color: #cc3a3a3f;
    img {
        margin-top: 1rem ;
    }
}
#api {
    background-color: #f059453b;
}
#postgres {
    background-color: #5eaaa849;
    img {
        margin-top: 0.5rem ;
    }
}
#empty {
    background-color: #a3d2ca3a;
}
//complementary
#git {
    background-color: #5c10033f;
}
#github {
    background-color: #3a46463a;
}
#figma {
    background-color: #127ea848;
    img {
        width: auto;
        height: 38px;
        margin-top: 0.3rem;
    }
}
#vs {
    background-color: #3a464642;
}
#ai {
    background-color: #ff801838;
    text-align: center;
    img {
        margin-top: 0.3rem;
    }
}
#postman {
    background-color: #cb373736;
    img {
        margin-top: 0.5rem;
    }
}
#scrum {
    background-color: #5eaaa838;
}
#empty2 {
    background-color: #4158703f;
}
//Soft Skills 
#resolution {
    background-color: #4fbbbb3b;
}
#responsability {
    background-color: #127ea83b;
}
#decisions {
    background-color: #6c70f241;
}
#team {
    background-color: #5eaaa83f;
}

@media only screen and (min-width: 300px)  and (max-width: 330px) {
    .skills-riel {
        width: 100vw;
    }
    .skills-riel__title {
        text-align: center;
        padding: 0;
        width: 20rem;
    }
    #frontend {
        letter-spacing: 0.8em;
    }
    .skills-riel__component {
        width: 20rem;
    }
    .skills-riel__component--img {
        width: 5rem;
        height: 5rem;
    }
}
@media only screen and (min-width: 570px) {
    .skills-riel {
        width: auto;
        margin: 2rem 2.5rem;
    }
    
}