@import './Variables';

@import './components/Navbar';
@import './components/Hamburguer';
@import './components/Home';
@import './components/About';
@import './components/Footer';
@import './components/Skills';
@import './components/FrontendSkills';


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 290px;
    background-color: $color-soft;
    font-family: $font-main;
}
html {
    scroll-behavior: smooth;
}
.letter-primary {
    color: $color-primary;
}
.letter-strong {
    color: $color-strong;
}
.letter-soft {
    color: $color-soft;
}