@import './Variables';

@import './components/Navbar';
@import './components/Hamburguer';
@import './components/Home';
@import './components/About';
@import './components/Footer';
@import './components/Skills';
@import './components/SkillsBox';
@import './components/Projects';
@import './components/projects/Project';
@import './components/Contact';

@import './views/Resume';


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 320px;
    background-color: $color-soft;
    font-family: $font-main;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 4.5rem;
}
.letter-primary {
    color: $color-primary;
}
.letter-strong {
    color: $color-strong;
}
.letter-soft {
    color: $color-soft;
}
a:hover, a:active, a:link {
    text-decoration: none;
    color: $color-soft;
}